################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/WebApiVerticalSliceArchitectureExample/Example.Api/appsettings.Development.json
